.btn {
  display: inline-flex;
  border: none;
  padding: 0;
  /*min-width: 1.2em;*/
  /*min-height: 1.2em;*/
  justify-content: center;
  align-items: center;
  font: inherit;
  cursor: pointer;
  background: var(--accent-color);
  color: var(--foreground);
  /*border-radius: 2px;*/
  line-height: 1;
  padding: 0 2px;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 0.8;
  color: var(--foreground-hover);
  background: var(--accent-color-hover);
}

.btn:disabled {
  color: var(--foreground-disabled);
  background: var(--accent-color-disabled);
  cursor: not-allowed;
}

.btn.ghost {
  background: none;
}
