.btn {
  display: inline-flex;
  border: none;
  padding: 0;
  min-width: 1.2em;
  min-height: 1.2em;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
  background: #3f6483;
  color: inherit;
  border-radius: 2px;
  line-height: 1;
  padding: 0 2px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:disabled {
  background: rgba(125, 125, 125, 0.5);
}
