.btn {
  display: inline-flex;
  border: none;
  padding: 0;
  /*min-width: 1.2em;*/
  /*min-height: 1.2em;*/
  justify-content: center;
  align-items: center;
  font: inherit;
  font-weight: normal;
  cursor: pointer;
  background: var(--background);
  color: var(--foreground);
  /*border-radius: 2px;*/
  line-height: 1;
  padding: 0 2px;
  transition: all 0.2s;
}

.btn.selected {
  font-weight: bold;
  color: var(--foreground-selected);
  background: var(--background-selected);
  cursor: default;
}

.btn:not(:disabled):hover {
  opacity: 0.8;
  color: var(--foreground-hover);
}
.btn:not(.ghost):hover {
  background: var(--accent-color-hover);
}
.btn[readonly] {
  cursor: default;
}
.btn:disabled {
  color: var(--foreground-disabled);
  background: var(--accent-color-disabled);
  cursor: not-allowed;
}

.btn.ghost {
  background: none;
}
