.collapse-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /*margin: 0 0.5em;*/
  /*border: 1px solid var(--foreground);*/
  /*color: var(--foreground-hightlight);*/
  /*box-sizing: border-box;*/
  font-weight: normal;
  cursor: pointer;
  /*background: #3f6483;*/
  /*border-radius: 2px;*/
}

.collapse-btn .collapse-icon {
  font-size: 12px;
}
