.variable {
  position: relative;
  box-sizing: border-box;
  min-height: 20px;
}

.variable-editor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.switcher {
  display: flex;
  grid-gap: calc(var(--fc-unit-size) * 6);
}
