#header {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  padding: 0 12px;
  min-height: var(--header-height);
  background: var(--background-highlight);
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}
