.response {
  position: relative;
  flex: 1;
  min-width: 480px;
  overflow: hidden;
}
.response-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.response-container .monaco-editor {
  filter: brightness(1.3) saturate(0.8);
}

.operation-name {
  margin-left: 0.5em;
}
