.response {
  position: relative;
  flex: 1;
}
.response-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.response-container .overflow-guard {
  filter: brightness(0.98);
}

.operation-name {
  margin-left: 0.5em;
}
