:root,
:defined {
  --body-background: #f1f1f1;
  --box-background: #fff;
  --box-background-disabled: #ddd;
  --background: rgb(233, 233, 233);
  --background-hover: #e1e1e1;
  --background-active: #ccc;
  --background-disabled: #ddd;
  --background-highlight: rgb(232, 232, 231);
  --background-selected: #f6f6f6;

  --foreground: #444;
  --foreground-hover: #000;
  --foreground-selected: #000;
  --foreground-disabled: #a9a9a9;
  --foreground-hightlight: #000;
  --accent-color: #5091ff;
  --accent-color-hover: #f3f3f3;
  --accent-color-selected: #88aeff;
  --accent-color-disabled: #e6e6e6;
  --border-color: #d7d7d7;
  --border-color-hover: #b3b3b3;
  --border-color-disabled: #eff3f2;
  --stroke-color: rgb(232, 232, 231);
  --stroke-color-hover: #dcdcdc;
  --stroke-color-disabled: #eff3f2;
  --fc-unit-size: 1px;
  --padding-t: calc(var(--fc-unit-size) * 4);
  --padding-b: var(--padding-t);
  --padding-l: calc(var(--fc-unit-size) * 8);
  --padding-r: var(--padding-l);
  --padding: var(--padding-t) var(--padding-r) var(--padding-b) var(--padding-l);

  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-width: calc(var(--fc-unit-size) * 9);

  --header-height: 38px;
  --main-height: calc(100vh - var(--header-height));

  --font-size: calc(var(--fc-unit-size) * 12);
  --border-width: calc(var(--fc-unit-size) * 1);
  --border-radius: calc(var(--fc-unit-size) * 0);
}

html {
  cursor: pointer;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 0;
  cursor: auto;
  border-left: var(--border-width) solid rgba(225, 225, 225, 0.8);
  cursor: pointer !important;
}
*::-webkit-scrollbar-thumb {
  background: rgba(225, 225, 225, 0.4);
}
*:hover::-webkit-scrollbar-thumb {
  background: rgba(225, 225, 225, 0.8);
}
-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
  color: var(--foreground);
  font-size: var(--font-size);
  width: 100vw;
  height: 100vh;
  /*取消弹性效果*/
  overflow: hidden;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#app {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content);
}

.main {
  display: flex;
}

.query-editor-group {
  z-index: 1;
  box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.1);
}

fc-panel {
  width: 100%;
  height: 100%;
}

fc-panel-header {
  border-bottom: 1px solid var(--border-color);
}

fc-panel::part(panel-body) {
  overflow: visible;
}

.hidden,
[hidden] {
  display: none;
}

/* color classnames */
.bg {
  background: var(--background);
}
.bg:hover,
.bg:active {
  background: var(--background-hover);
}
.bg:disabled {
  background: var(--background-disabled);
}

.fg {
  color: var(--foreground);
}
.fg:hover,
.fg:active {
  color: var(--foreground-hover);
}
.fg:disabled {
  color: var(--foreground-disabled);
}

.fg-accent {
  color: var(--accent-color);
}
.fg-accent:hover,
.fg-accent:active {
  color: var(--accent-color-hover);
}
.fg-accent:disabled {
  color: var(--accent-color-disabled);
}

.bg-accent {
  background-color: var(--accent-color);
}
.bg-accent:hover,
.bg-accent:active {
  background-color: var(--accent-color-hover);
}
.bg-accent:disabled {
  background-color: var(--accent-color-disabled);
}

.bd {
  border: var(--border-width) solid var(--border-color);
}
.bd:hover,
.bd:active {
  border: var(--border-width) solid var(--border-color-hover);
}
.bd:disabled {
  border: var(--border-width) solid var(--border-color-disabled);
}
.hover-bd:hover {
  border: var(--border-width) solid var(--border-color-hover);
}

.stroke {
  outline: var(--stroke-width) solid var(--stroke-color);
}

.shadow {
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
}

.hover-shadow:hover {
  box-shadow: 0 0 var(--shadow-size) var(--shadow-color);
}
